body {
  box-sizing: border-box;
}
.container0 {
  max-width: 1200px;
}
.logo {
  max-width: 90%;
}
.container2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

@media (min-width: 768px) {
  .container1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .logo {
    max-width: 500px;
  }
}
